mat-expansion-panel {
  margin-bottom: 10px;
}
mat-expansion-panel,
mat-expansion-panel-header {
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: 500;
  font-size: 14x;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-list-single-selected-option {
  color: blue !important;
}

.mat-list-item,
.mat-list-option {
  font-size: 12px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.active {
  text-decoration: none;
  color: blue;
}
