.logo {
  width: 120px;
  height: 30px;
  /* margin: auto; */
}

.accountBlock {
  float: right;
}

.header_mainContent {
  flex: 1 1 auto;
}

/* .menuItemLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.menuItemLink:active {
  font-weight: 700;
}

.menuItemLink:hover {
  font-weight: 700;
} */
/* 
.itemSelected {
  font-weight: 700;
} */

.container {
  height: 94.5%;
  padding: 1%;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-container .headerBar {
  position: fixed;
  z-index: 2;
}

h3.headerText {
  margin-top: 7px;
  font-size: 12px;
}

.sidenav-container {
  flex: 1;
}

.mobile-container .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  width: 300px;
  background-color: #f6f2f9;
}

.headerBar {
  background: #41007f;
  color: #ffffff;
  height: 50px;
}

.mainFooter {
  background: #faf8f9;
  border-top: 1px solid #dedee2;
  /* color: #ffffff; */
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background: #d9cce6;
}

mat-expansion-panel {
  box-shadow: none !important;
}
/* .mat-expansion-panel-header-title {
  font-weight: 500;
  font-size: 14x;
} */

mat-expansion-panel-header {
  background-color: rgba(0, 0, 0, 0.03);
}
::ng-deep .mat-expansion-panel:not(.mat-expanded):hover {
  background-color: #d9cce6;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-list-single-selected-option {
  color: #00a7e1 !important;
}

.mat-list-item,
.mat-list-option {
  font-size: 12px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.active {
  text-decoration: none;
  color: blue;
}

.searchField {
  width: 95%;
  margin-top: 15px;
  margin-left: 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.f-10 {
  font-size: 10px;
}
